<nav class="navbar" [class.scrolled]="isScrolled">
    <div class="logo">
        <img src="Asset 3.png" alt="" style="width: 25px;">
        Roomora</div>
    <div class="nav-links">
        <button class="nav-btn" routerLink="Home" routerLinkActive="active">
            <i class="fa-solid fa-house-chimney"></i>
            <span>Home</span> 
        </button>
        <button class="nav-btn" routerLink="Hotels" routerLinkActive="active">
            <i class="fa-solid fa-hotel"></i>
            <span>Hotels</span>
        </button>
        <button class="nav-btn" routerLink="Rooms" routerLinkActive="active">
            <i class="fa-solid fa-bed"></i>
            <span>Rooms</span>
        </button>
        <button class="nav-btn Hidden">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>
</nav>
  
