$primary-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$light-gray: #f8f8f8;
$primary-color: #4bbecf;

.filter-container {
    display: flex;
    padding: 1rem;
    background: #f9f9f9;
    border-bottom: 1px solid #eee;
}

.filter-card {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 0px 0px;
    min-width: 1000px;
    margin: 100px auto 50px auto;
    border-bottom: 3px solid rgba(128, 128, 128, 0.377);

    .filter-group {
        display: flex;
        flex-direction: column;
        font-family: Arial, sans-serif;

        label {
            font-weight: 600;
            font-size: 14px;
            margin-bottom: 0.5rem;
            color: #555;
            font-family: $primary-font;

            .info {
                font-style: normal;
                display: inline-block;
                margin-left: 0.25rem;
                background: #aaa;
                color: #fff;
                border-radius: 50%;
                font-size: 11px;
                padding: 0 5px;
                cursor: pointer;
            }
        }
        .range-input {
            position: relative;
            margin-bottom: 15px;
        }
        .range-input input {
            position: absolute;
            width: 100%;
            height: 6px;
            background: none;
            pointer-events: none;
            -webkit-appearance: none;
            -moz-appearance: none;
        }
        
        .range-input input::-webkit-slider-thumb {
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background: #000000;
            pointer-events: auto;
            -webkit-appearance: none;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }
        .range-input input::-moz-range-thumb {
            height: 10px;
            width: 10px;
            border: none;
            border-radius: 50%;
            background: #4a90e2;
            pointer-events: auto;
            -moz-appearance: none;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }
        
        // input[type="range"] {
        //     width: 180px;
        //     -webkit-appearance: none;
        //     appearance: none;
        //     height: 4px;
        //     background: #ccc;
        //     border-radius: 2px;
        //     outline: none;

        //     &::-webkit-slider-thumb {
        //         -webkit-appearance: none;
        //         appearance: none;
        //         width: 16px;
        //         height: 16px;
        //         border-radius: 50%;
        //         background: #58c1d5;
        //         cursor: pointer;
        //         border: 1px solid #aaa;
        //     }
        // }
        
        .price-range {
            display: flex;
            justify-content: space-between;
            font-weight: 700;
            color: #16304a;
            margin-top: 0.25rem;
        }

        select,
        input[type="date"] {
            padding: 0.5rem;
            border: 1px solid rgb(204, 204, 204);
            border-radius: 4px;
            font-size: 14px;
            min-width: 100px;
            color: #aaa;
            box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
            font-family: $primary-font;
            &.ng-dirty {
                color: #000 ;
            }
        }
        input[type="date"]::-webkit-calendar-picker-indicator {
            filter: invert(0.5);
            cursor: pointer;
        }
        input[type="date"] {
            color: transparent;
        }
        .price-range {
            gap: 10px;
            input {
                border: 1px solid rgb(204, 204, 204);
                border-radius: 4px;
                font-size: 14px;
                box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
                padding: 5px;
            }
        }

        .guests-input {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            position: relative;

            select {
                width: 40px;
                text-align: center;
                padding: 0.5rem;
                border: 1px solid rgb(204, 204, 204);
                border-radius: 4px;
                font-size: 14px;
                box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
                -webkit-appearance: none;
                    /* Safari/Chrome */
                    -moz-appearance: none;
                    /* Firefox */
                    appearance: none;
                    /* Standard */
                    background: none;
                text-align: start
            }

            .guest-icon {
                font-size: 18px;
                color: #58c1d5;
            }
            i {
                position: absolute;
                right: 7px;
                color: #58c1d5;
                font-size: 15px;
            }
        }
    }

    .filter-actions {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 0 auto;

        button {
            padding: 0.6rem 1rem;
            font-weight: bold;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            font-size: 14px;
            letter-spacing: 1px;
            background-image: linear-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(240, 240, 240, 0) 100%);
            border: 2px solid rgba(53, 146, 158, 0.199);
            font-family: $primary-font;
        }

        .apply {
            background: linear-gradient(to bottom, #6ad4e3, #45b3c7);
            color: #fff;
        }

        .reset {
            background: linear-gradient(to bottom, #d8f3f8, #9cd4de);
            color: #fff;
        }
    }
}
.rooms-container {
    text-align: center;
    min-height: 600px;
    border-top: 2px solid rgba(128, 128, 128, 0.131);

    &__title {
        font-size: 1.5rem;
        margin: 2rem 0 5rem;
        position: relative;
        font-family: $primary-font;
        color: rgba(94, 94, 94, 0.874);
        font-weight: 600;

        &::before,
        &::after {
            content: "";
            display: inline-block;
            width: 30%;
            height: 2.5px;
            background: rgba(94, 94, 94, 0.305);
            margin: 0 15px;
            vertical-align: middle;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 2rem;
        max-width: 1100px;
        margin: 0 auto 80px auto;
    }
}
.room-card {
    background: $light-gray;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;

    &:hover {
        transform: translateY(-5px);
    }

    &__image {
        width: 100%;
        height: 220px;
        object-fit: cover;
        display: block;
    }

    &__info {
        padding: 1rem;
        background: white;
        text-align: left;
    }

    &__name {
        margin: 0;
        font-size: 1.1rem;
        font-weight: bold;
        font-family: $primary-font;
    }

    &__price {
        margin: 0.5rem 0 0;
        font-size: 1.2rem;
        font-weight: bold;
        color: $primary-color;
        font-family: $primary-font;

        span {
            font-size: 0.9rem;
            font-weight: normal;
            color: gray;
            margin-left: 4px;
            font-family: $primary-font;
        }
    }
}
@media (max-width: 1011px) {
    .rooms-container {
        &__title {
            &::before,
            &::after {
                width: 18%;
            }
        }
    }
}