<section class="RoomsSection">
    <section class="rooms-container">
        <h2 class="rooms-container__title">Availabe Hotels</h2>
        <div class="rooms-container__grid">
            @for (hotel of hotels; track $index) {
                <div class="room-card" (click)="GoToHotel(hotel.id)">
                    <img 
                        [src]="hotel.featuredImage"
                        alt="Premium Room"
                        class="room-card__image"
                        >
                    <div class="room-card__info">
                        <h3 class="room-card__name">{{hotel.name}}</h3>
                        <p class="room-card__price"><span>Hotel in </span>{{hotel.city}}</p>
                    </div>
                </div>
            }
        </div>
    </section>
</section>
